#profile {
	height: 200px;
	width: 200px;
}

#sm-header {
	font-weight: bold;
}

/* text label*/
	/* label focus color */
   .input-field input[type=text]:focus + label {
     color: #ff9800;
   }
   /* label underline focus color */
	.input-field input[type=text]:focus {
     border-bottom: 1px solid #ff9800;
     box-shadow: 0 1px 0 0 #ff9800;
   }
	/* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #03a9f4;
     box-shadow: 0 1px 0 0 #03a9f4;
   }
   /* icon prefix focus color */
   .input-field .prefix.active{
     color: #ff9800;
   }
/* email label*/
	/* label focus color */
   .input-field input[type=email]:focus + label {
     color: #ff9800;
   }
   /* label underline focus color */
	.input-field input[type=email]:focus {
     border-bottom: 1px solid #ff9800;
     box-shadow: 0 1px 0 0 #ff9800;
   }
	/* valid color */
   .input-field input[type=email].valid {
     border-bottom: 1px solid #03a9f4;
     box-shadow: 0 1px 0 0 #03a9f4;
   }
   /* invalid color */
   .input-field input[type=email].invalid + label {
     border-bottom: 1px solid #f44336;
     box-shadow: 0 1px 0 0 #f44336;
   }
   /* icon prefix focus color */
   .input-field .prefix.active{
     color: #ff9800;
   }
/* tel label*/
	/* label focus color */
   .input-field input[type=tel]:focus + label {
     color: #ff9800;
   }
   /* label underline focus color */
	.input-field input[type=tel]:focus {
     border-bottom: 1px solid #ff9800;
     box-shadow: 0 1px 0 0 #ff9800;
   }
	/* valid color */
   .input-field input[type=tel].valid {
     border-bottom: 1px solid #03a9f4;
     box-shadow: 0 1px 0 0 #03a9f4;
   }
   /* icon prefix focus color */
   .input-field .prefix.active{
     color: #ff9800;
   }
/* message label*/
	/* label focus color */
   .input-field textarea[id=message]:focus + label {
     color: #ff9800;
   }
   /* label underline focus color */
	.input-field textarea[id=message]:focus {
     border-bottom: 1px solid #ff9800;
     box-shadow: 0 1px 0 0 #ff9800;
   }
	/* valid color */
   .input-field textarea[id=message].valid {
     border-bottom: 1px solid #03a9f4;
     box-shadow: 0 1px 0 0 #03a9f4;
   }
   /* icon prefix focus color */
   .input-field .prefix.active{
     color: #ff9800;
   }